:root {
  --primary1: #2c2c54;
  --primary2: #40407a;
  --primary3: #474787;
  --primary4: #706fd3;

  --secondar1: #6d214f;
  --secondar2: #b33771;
  --secondar3: #c44569;
  --secondar4: #cf6a87;

  --neutral1: #000000; // black
  --neutral2: #ffffff; // white
  --neutral3: #dfe6e9;
  --neutral4: #b2bec3;
  --neutral5: #636e72;
  --neutral6: #2d3436;

  --semantic1: #eb4d4b; // warning color
  --semantic2: #6ab04c; // validation color
  --semantic3: #3dc1d3; // focus color
}
