.p-listing {
  --listing-sub-nav-background: var(--secondary1);
  --listing-sub-nav-text: var(--neutral3);

  --listing-sub-nav-background-active: var(--secondary4);
  --listing-sub-nav-text-active: var(--neutral3);

  --listing-sub-nav-background-hover: var(--secondary2);
  --listing-sub-nav-text-hover: var(--neutral3);
}
