.m-cardAlpha {
  --card-background-even: var(--neutral6);
  --card-background-odd: var(--neutral6);

  --card-text-even: var(--neutral3);
  --card-text-odd: var(--neutral3);

  --tag-background-even: var(--primary3);
  --tag-text-even: var(--neutral3);

  --tag-background-odd: var(--primary4);
  --tag-text-odd: var(--neutral3);
}
