.a-button {
  &.-alpha {
    &.-primary {
      --button-background: ;
      --button-border: ;
      --button-icon: ;
      --button-text: ;

      --button-background-focus: ;
      --button-border-focus: ;
      --button-icon-focus: ;
      --button-text-focus: ;

      --button-background-hover: ;
      --button-border-hover: ;
      --button-icon-hover: ;
      --button-text-hover: ;
    }
  }
}
