.p-home {
  --home-description-icon: var(--neutral5);
  --home-description-title: var(--primary3);

  --home-link-button-icon-background: var(--neutral4);
  --home-link-button-icon-color: var(--neutral6);
  --home-link-button-text-background: var(--primary1);
  --home-link-button-text-color: var(--neutral2);

  --home-link-button-icon-background-hover: var(--neutral4);
  --home-link-button-icon-color-hover: var(--neutral6);
  --home-link-button-text-background-hover: var(--neutral4);
  --home-link-button-text-color-hover: var(--neutral6);
}
